/* Universal Elements */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 0.9rem;
}
:root {
  --color-1: #14213d;
  --color-2: #415a77;
  --color-3: #495057;
  --color-4: #fff;
}
*.heading {
  color: var(--color-1);
}
*.description {
  color: var(--color-3);
}
*.button {
  background-color: var(--color-2);
  color: var(--color-4);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
*.button:hover {
  background-color: var(--color-1);
  color: var(--color-4);
}
a.btn:focus, 
a.btn:active,
button.btn:focus, 
button.btn:active,
select.custom-select:focus, 
select.custom-select:active {
    outline: none !important;
    box-shadow: none !important;
}


/* Navbar */
nav {
  z-index: 10;
  background-color: transparent;
  transition: 0.3s ease;
}
nav.active {
  z-index: 10;
  background-color: #fff;
  transition: 0.3s ease;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
button.dropdown-toggler {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
}
div.dropdown-menu {
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  left: 0%;
  top: 100%;
  transform: translate(-83%,0%);
}
div.dropdown-menu .dropdown-item {
  color: var(--color-4);
}
div.dropdown-menu .dropdown-item:hover {
  color: var(--color-1);
}
div.floating-button {
  position: fixed;
  z-index: 10;
  right: -50px;
  bottom: 50px;
  transition: 0.3s ease;
}
div.floating-button.active {
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 50px;
  transition: 0.3s ease;
}

/* Home Section */
section#HomeSection {
  height: auto;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url('bgimg/bgimg-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#search-box input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  text-align: left;
  color: #fff;
}
#search-box input::placeholder {
  color: #fff;
  opacity: 0.7;
  font-weight: normal;
}
#search-box div {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}
img#status-img {
  height: 300px;
  width: auto;
}

/* Image Card */
div.ImageCard div.card-body-2 {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,0.5));
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/* Image Preview */
section#ImagePreview {
  height: 100vh;
  width: 100%;
}

/* Categories Section */
div.category-card-slider {
  overflow-x: scroll;
  width: 100%;
  height: auto;
}
div.category-card-slider::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}
div.category-card-slider::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div.category-card-slider::-webkit-scrollbar-thumb {
  background: #888f;
}


/* Footer */
footer#footer {
  background-color: #eee;
  height: auto;
  width: 100%;
}

@media (max-width: 767px) {
  div#navbar-collapse {
    transition: 1s ease;
    display: none;
  }
}