/* Universal Elements */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*.bg-color-01 {
  background-color: #d283ff;
}
*.text-color-01 {
  color: #3c096c;
}


a.btn,
button.btn {
  border-radius: 7px;
  background-color: #5603ad;
  color: #fff;
}
a.btn:hover,
button.btn:hover {
  background-color: #3c096c;
  color: #fff;
}

/* Loader */
div#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Navbar */
nav {
  z-index: 10;
  border: none;
  box-shadow: 0px 0px 10px rgb(153, 153, 153);
}
button.navbar-toggler {
  outline: none;
  border: none;
}
div.toggler-icon-line {
  border-radius: 3px;
  transition: 0.3s ease;
  margin: 7px 0px;
  width: 30px;
  height: 3px;
  background-color: #3c096c;
}
div#toggler-icon-line-1 {
  width: 30px;
}
div#toggler-icon-line-2 {
  margin-left: auto;
  width: 20px;
}
div#toggler-icon-line-3 {
  margin-left: auto;
  width: 10px;
}
div#navbar-collapse {
  display: block;
  animation: slide 0.3s linear;
}
@keyframes slide {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

/* Home Section */
section#HomeSection {
  height: auto;
  width: 100%;
  background-image: url('bgimg/bgimg-3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#search-box div input,
#search-box div img,
#search-box button {
  width: auto;
  outline: none;
  background-color: white;
  padding: 13px 30px;
  border-radius: 7px;
  border: 2px solid #3c096c;
}
#search-box button {
  background-color: #5603ad;
  color: #fff;
}
#search-box button:hover {
  background-color: #fff;
  color: #5603ad;
}
#search-box div input {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search-box div img {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
img#status-img {
  height: 200px;
  width: auto;
}

/* Image Card */
div.ImageCard div.card-body-2 {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,0.5));
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/* Footer */
footer#footer {
  background-color: #eee;
  height: auto;
  width: 100%;
}

@media (max-width: 767px) {
  div#navbar-collapse {
    transition: 1s ease;
    display: none;
  }
}